.locationList {
    height: 85%;
    overflow: auto;
    margin-bottom: 20px;
}

@media (max-width: 64em) {
    .locationList {
        max-height: 36vh;
        margin-bottom: 20px;
    }
}

.forecast-title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}